# Ignorar el archivo de configuración local
configuracion_local.sh

# Ignorar la carpeta "archivos_privados" y todo su contenido
archivos_privados/

# Ignorar todos los archivos de Photoshop (.psd)
*.psd

# Ignorar todos los archivos de Gimp (.xcf)
*.xcf